<!-- Desktop -->
<div class="desktop">
  <nav class="eval-sidebar d-flex flex-column justify-content-between ">
      <ul class="ps-0">
          <h1 class="h1">
            <a href="index.html"><img src="../assets/images/logo-Light.png" alt="EAG"></a>
          </h1>
          <li class="mb-2">
            <button
                class="sub-item dropdown-item d-flex align-items-center p-item"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseExample"
                role="button"
                aria-expanded="false"
                aria-controls="collapseAccount"
                
              >
                <img
                  src="../assets/images/icon/User-edit_outlined.png"
                  alt="User-edit_outlined"
                  class="me-4"
                />
                <span>帳號管理</span>
                <img
                  src="../assets/images/icon/Dropdown.png"
                  class="ms-12"
                  alt="Dropdown"
                />
            </button>
            <ul class="collapse" id="collapseExample">
              <li>
                <a href="#" class="p-sub-item dropdown-item">基本設定</a>  <!---baseset.html-->
              </li>
              <li>
                <a href="#" class="p-sub-item dropdown-item">密碼設定</a><!----passwordset.html-->
              </li>
            </ul>
          </li>
          <li class="mb-2">
              <a class="sub-item dropdown-item p-item d-flex align-items-center" href="#"
                ><img
                  src="../assets/images/icon/Thumb up_outlined.png"
                  alt="Thumb up_outlined"
                  class="me-4"
                /><span>展覽推薦設定</span></a
              >
          </li>
          <li class="mb-2">
              <a class="sub-item dropdown-item p-item d-flex align-items-center" href="#"
                ><img
                  src="../assets/images/icon/Bookmark_add.png"
                  alt="Bookmark_add"
                  class="me-4"
                /><span>收藏／評分</span></a
              >
          </li>
          <li class="mb-2">
              <a class="sub-item dropdown-item p-item d-flex align-items-center" href="#"
                ><img
                  src="../assets/images/icon/Calendar.png"
                  alt="Calendar"
                  class="me-4"
                /><span>我的行事曆</span></a
              >
          </li>
          <li class="mb-2">
              <a class="sub-item dropdown-item p-item d-flex align-items-center" href="#"
                ><img
                  src="../assets/images/icon/Login.png"
                  alt="Login.png"
                  class="me-4"
                /><span>會員登出</span></a
              >
          </li>
      </ul>
      <ul class="d-flex justion-content-flex-start align-items-center ps-0">
          <li class="mb-2">
              <a class="sub-item dropdown-item p-item d-flex align-items-center" href="#">
                <img
                  src="../assets/images/icon/User.png"
                  alt="User" 
                  class="me-4" />
                <span>我是會員</span>
                <img
                  src="../assets/images/icon/Settings_outlined.png"
                  alt="Settings_outlined"
                  class="ms-12"/>
              </a>
          </li>
      </ul>
  </nav>
</div>

<!-- 手機版 --> 
<nav class="navBtn bg-white position-breakpoint">
  <%- include('./layout/navbar'); -%>
</nav>

<!-- 會員登入後 登入btn隱藏 -->
<script>
  function changeLogin() {
    const unLogin = document.getElementById("loginDisplayNone");
    unLogin.style.display = "none";

    const login = document.getElementById("loginDisplayBlock");
    login.style.display = "block";
  }
</script>
