<!-- sidebar -->
<div class="desktop">
  <nav class="sidebar d-flex flex-column justify-content-between ">
      <ul class="ps-0">
          <h1 class="h1">
            <a href="index.html"><img src="../assets/images/logo-Light.png" alt="EAG"></a>
          </h1>
          <li class="mb-2">
            <button
                class="sub-item dropdown-item d-flex align-items-center p-item"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseExample"
                role="button"
                aria-expanded="false"
                aria-controls="collapseAccount"
                
              >
                <img
                  src="../assets/images/icon/User-edit_outlined.png"
                  alt="User-edit_outlined"
                  class="me-4"
                />
                <span>帳號管理</span>
                <img
                  src="../assets/images/icon/Dropdown.png"
                  class="ms-12"
                  alt="Dropdown"
                />
            </button>
            <ul class="collapse" id="collapseExample">
              <li>
                <a href="index.html" class="p-sub-item dropdown-item">基本設定</a> <!--baseset---->
              </li>
              <li>
                <a href="passwordset.html" class="p-sub-item dropdown-item">密碼設定</a>
              </li>
            </ul>
          </li>
          <li class="mb-2">
              <a class="sub-item dropdown-item p-item d-flex align-items-center" href="#"
                ><img
                  src="../assets/images/icon/Thumb up_outlined.png"
                  alt="Thumb up_outlined"
                  class="me-4"
                /><span>展覽推薦設定</span></a
              >
          </li>
          <li class="mb-2">
              <a class="sub-item dropdown-item p-item d-flex align-items-center" href="#"
                ><img
                  src="../assets/images/icon/Bookmark_add.png"
                  alt="Bookmark_add"
                  class="me-4"
                /><span>收藏／評分</span></a
              >
          </li>
          <li class="mb-2">
              <a class="sub-item dropdown-item p-item d-flex align-items-center" href="#"
                ><img
                  src="../assets/images/icon/Calendar.png"
                  alt="Calendar"
                  class="me-4"
                /><span>我的行事曆</span></a
              >
          </li>
          <li class="mb-2">
              <a class="sub-item dropdown-item p-item d-flex align-items-center" href="#"
                ><img
                  src="../assets/images/icon/Login.png"
                  alt="Login.png"
                  class="me-4"
                /><span>會員登出</span></a
              >
          </li>
      </ul>
      <ul class="d-flex justion-content-flex-start align-items-center ps-0">
          <li class="mb-2">
              <a class="sub-item dropdown-item p-item d-flex align-items-center" href="#">
                <img
                  src="../assets/images/icon/User.png"
                  alt="User" 
                  class="me-4" />
                <span>我是會員</span>
                <img
                  src="../assets/images/icon/Settings_outlined.png"
                  alt="Settings_outlined"
                  class="ms-12"/>
              </a>
          </li>
      </ul>
  </nav>
</div>
<!-- <ul class="index pl-0 d-flex flex-column justify-content-flex-start align-items-start"> -->

<!-- 手機版 -->
<!-- <div class="mobile"> -->
  <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" class="bi" fill="currentColor" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
    </svg>
  </button>
<!-- </div> -->
  <!-- sidebar -->
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <nav class="sidebar d-flex flex-column justify-content-between ">
      <ul class="ps-0">
          <h1 class="h1">
            <a href="index.html"><img src="../assets/images/logo-Light.png" alt="ANSWER"></a>
          </h1>
          <li class="mb-2">
            <button
                class="sub-item dropdown-item d-flex align-items-center p-item"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseExample"
                role="button"
                aria-expanded="false"
                aria-controls="collapseAccount"
                
              >
                <img
                  src="../assets/images/icon/User-edit_outlined.png"
                  alt="User-edit_outlined"
                  class="me-4"
                />
                <span>帳號管理</span>
                <img
                  src="../assets/images/icon/Dropdown.png"
                  class="ms-12"
                  alt="Dropdown"
                />
            </button>
            <ul class="collapse" id="collapseExample">
              <li>
                <a href="ndex.html" class="p-sub-item dropdown-item">基本設定</a> <!--baseset---->
              </li>
              <li>
                <a href="passwordset.html" class="p-sub-item dropdown-item">密碼設定</a>
              </li>
            </ul>
          </li>
          <li class="mb-2">
              <a class="sub-item dropdown-item p-item d-flex align-items-center" href="#"
                ><img
                  src="../assets/images/icon/Thumb up_outlined.png"
                  alt="Thumb up_outlined"
                  class="me-4"
                /><span>展覽推薦設定</span></a
              >
          </li>
          <li class="mb-2">
              <a class="sub-item dropdown-item p-item d-flex align-items-center" href="evaluate.html"
                ><img
                  src="../assets/images/icon/Bookmark_add.png"
                  alt="Bookmark_add"
                  class="me-4"
                /><span>收藏／評分</span></a
              >
          </li>
          <li class="mb-2">
              <a class="sub-item dropdown-item p-item d-flex align-items-center" href="#"
                ><img
                  src="../assets/images/icon/Calendar.png"
                  alt="Calendar"
                  class="me-4"
                /><span>我的行事曆</span></a
              >
          </li>
          <li class="mb-2">
              <a class="sub-item dropdown-item p-item d-flex align-items-center" href="#"
                ><img
                  src="../assets/images/icon/Login.png"
                  alt="Login.png"
                  class="me-4"
                /><span>會員登出</span></a
              >
          </li>
      </ul>
      <ul class="d-flex justion-content-flex-start align-items-center ps-0">
          <li class="mb-2">
              <a class="sub-item dropdown-item p-item d-flex align-items-center" href="#">
                <img
                  src="../assets/images/icon/User.png"
                  alt="User" 
                  class="me-4" />
                <span>我是會員</span>
                <img
                  src="../assets/images/icon/Settings_outlined.png"
                  alt="Settings_outlined"
                  class="ms-12"/>
              </a>
          </li>
      </ul>
    </nav>
  </div>
