<nav class="bg-white position-breakpoint">
  <div class="container py-6 navbar-layout">
    <div class="d-flex justify-content-between align-items-center">
      <a href="index.html">
        <img src="../assets/images/logo-Light.png" alt="logo" />
      </a>

      <!-- Button trigger modal -->
      <div class="dropdown-login" id="loginDisplayNone">
        <button
          type="button"
          class="btn btn-white border border-gray-400 rounded-3 login-btn py-2 px-4 login-btn"
          data-bs-toggle="modal"
          data-bs-target="#memberLogin"
        >
          <span
            style="height: 1.5rem; width: 1.5rem"
            class="material-symbols-outlined p-0 align-middle user-icon me-1"
          >
            login </span
          >登入
        </button>
        <!-- Modal -->
        <div
          class="modal fade fade-motion"
          id="memberLogin"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-0">
              <div class="modal-header bg-primary-700 border-0">
                <h1
                  class="modal-title fs-5 text-gray-000"
                  id="exampleModalLabel"
                >
                  登入／註冊
                </h1>
                <button
                  type="button"
                  class="btn-close d-none d-md-block"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <h2 class="fs-5 text-center text-gray-000 bg-primary-500 py-4">
                ExpoAnyGate 藝展任意門
              </h2>
              <div class="modal-body bg-primary-100 py-5">
                <ul class="row">
                  <li class="col-4">
                    <span
                      class="h-100 d-flex flex-column justify-content-center"
                    >
                      <img
                        src="../assets/images/lgoo-Dark.png"
                        alt="logo-Dark"
                      />
                    </span>
                  </li>
                  <li class="col-8">
                    <form>
                      <div class="mb-3">
                        <div class="form-floating">
                          <input
                            type="text"
                            id="Account"
                            class="form-control"
                            placeholder="帳號"
                          />
                          <label for="Account" class="fs-4 text-gray-500"
                            >帳號</label
                          >
                        </div>
                      </div>
                      <div class="mb-3">
                        <div class="form-floating">
                          <input
                            type="text"
                            id="Password"
                            class="form-control"
                            placeholder="密碼"
                          />
                          <label for="Password" class="fs-4 text-gray-500"
                            >密碼</label
                          >
                        </div>
                      </div>
                      <div class="mb-3">
                        <div class="d-flex">
                          <div class="form-floating w-100">
                            <input
                              type="text"
                              id="captcha"
                              class="form-control"
                              placeholder="圖形驗證碼"
                            />
                            <label for="captcha" class="fs-4 text-gray-500"
                              >圖形驗證碼</label
                            >
                          </div>
                          <div class="ms-1 d-none d-md-block">
                            <!-- 這裡寫得不好 -->
                            <span
                              class="bg-gray-200 h-100 d-flex align-items-center"
                            >
                              <img
                                src="../assets/images/captcha.png"
                                alt="captcha"
                                class="w-90"
                              />
                            </span>
                          </div>
                          <button
                            class="btn btn-gray-000 border-gray-200 ms-1 d-none d-md-block"
                          >
                            <span class="material-symbols-outlined p-0">
                              refresh
                            </span>
                          </button>
                        </div>
                      </div>
                      <div class="d-md-none mb-3">
                        <div class="d-flex">
                          <div class="ms-1">
                            <!-- 這裡寫得不好 -->
                            <span
                              class="bg-gray-200 h-100 d-flex align-items-center"
                            >
                              <img
                                src="../assets/images/captcha.png"
                                alt="captcha"
                                class="w-100"
                              />
                            </span>
                          </div>
                          <button class="btn btn-gray-000 border-gray-200 ms-1">
                            <span
                              class="material-symbols-outlined p-0 align-middle"
                            >
                              refresh
                            </span>
                          </button>
                        </div>
                      </div>
                    </form>
                    <div class="d-flex justify-content-center mb-5">
                      <button
                        type="summit"
                        class="btn btn-gray-400 text-gray-000 w-50 py-3 d-md-none"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      >
                        取消
                      </button>
                      <button
                        type="summit"
                        class="btn btn-primary-600 text-gray-000 w-50 py-3 ms-3"
                        data-bs-dismiss="modal"
						id="login-btn"
                        onclick="changeLogin()"
                        aria-label="Close"
                      >
                        登入
                      </button>
                    </div>
                    <div class="d-flex flex-wrap justify-content-between">
                      <a href="#" class="fs-4 text-gray-500 px-3 py-2 d-block"
                        >忘記帳號/密碼</a
                      >
                      <a
                        href="#"
                        class="fs-4 text-primary-800 fw-500 px-3 py-2 d-block"
                        >立刻註冊</a
                      >
                    </div>
                  </li>
                </ul>
              </div>
              <div
                class="modal-footer justify-content-start border-0 pb-10 position-relative overflow-hidden"
              >
                <img
                  src="../assets/images/deco/linegp-lg-1.png"
                  alt="linegp-lg-1"
                  class="position-absolute z-1 start-0 top-0"
                />
                <ul class="row gy-5 position-relative z-2">
                  <li class="col-12">
                    <h3 class="fs-5 text-gray-500 mb-2">快速成為探索者</h3>
                    <h3 class="fs-5 text-gray-500">蒐藏個人專屬的展覽！</h3>
                  </li>
                  <li class="col-12">
                    <div class="text-center">
                      <button
                        class="btn btn-danger text-white fw-500 py-2 btn-google"
						id="login-button"
                      >
                        <i class="bi bi-google"></i>
                        透過 google 帳號登入
                      </button>
                    </div>
                  </li>
                  <li class="col-12">
                    <div class="text-center">
                      <button
                        class="btn btn-success text-white py-2 px-26 fw-500"
                      >
                        <i class="bi bi-line"></i>
                        透過 line 帳號登入
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="dropdown" id="loginDisplayBlock">
        <button
          class="btn btn-white border border-gray-400 rounded-3 login-btn py-2 px-4"
          type="button"
          data-bs-toggle="dropdown"
          data-bs-auto-close="outside"
          aria-expanded="false"
        >
          <!-- 修改點擊後的圖片顏色 -->
          <span
            style="height: 1.5rem; width: 1.5rem"
            class="material-symbols-outlined p-0 align-middle user-icon"
          >
            person
          </span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <button
              class="dropdown-item d-flex align-items-center p-item"
              data-bs-toggle="collapse"
              data-bs-target="#collapseAccount"
              role="button"
              aria-expanded="false"
              aria-controls="collapseAccount"
            >
              <img
                src="../assets/images/icon/User-edit_outlined.png"
                alt="User-edit_outlined"
                class="me-4"
              />
              <span>帳號管理</span>
              <img
                src="../assets/images/icon/Dropdown.png"
                class="ms-12"
                alt="Dropdown"
              />
            </button>
            <ul class="collapse" id="collapseAccount">
              <li>
                <a href="#" class="p-sub-item dropdown-item">基本設定</a>
              </li>
              <li>
                <a href="#" class="p-sub-item dropdown-item">密碼設定</a>
              </li>
            </ul>
          </li>
          <li>
            <a class="dropdown-item p-item d-flex align-items-center" href="#"
              ><img
                src="../assets/images/icon/Thumb up_outlined.png"
                alt="Thumb up_outlined"
                class="me-4"
              /><span>展覽推薦設定</span></a
            >
          </li>
          <li>
            <a class="dropdown-item p-item d-flex align-items-center" href="#"
              ><img
                src="../assets/images/icon/Bookmark_add.png"
                alt="Bookmark_add"
                class="me-4"
              /><span>收藏／評分</span></a
            >
          </li>
          <li>
            <a class="dropdown-item p-item d-flex align-items-center" href="#"
              ><img
                src="../assets/images/icon/Calendar.png"
                alt="Calendar"
                class="me-4"
              /><span>我的行事曆</span></a
            >
          </li>
          <li>
            <a id="dropdown-logout" class="dropdown-item p-item d-flex align-items-center" href="#"
            ><img
                src="../assets/images/icon/Login.png"
                alt="Login.png"
                class="me-4"
              /><span>會員登出</span></a
            >
          </li>
          <li>
            <a
              class="dropdown-item p-item d-flex align-items-center"
              href="evaluate.html"
              ><img
                src="../assets/images/icon/User.png"
                class="me-4"
                alt="User" />
              <span>我是會員</span>
              <img
                src="../assets/images/icon/Settings_outlined.png"
                alt="Settings_outlined"
                class="ms-12"
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- 會員登入後 登入btn隱藏 -->
<script>
    function changeLogin() {
		localStorage.setItem("isLoggedIn", "true");
		location.reload();
  }  

  document.addEventListener("DOMContentLoaded", function() {
	const isLoggedIn = localStorage.getItem("isLoggedIn");

	if (isLoggedIn === "true") {

		const unLogin = document.getElementById("loginDisplayNone");
    unLogin.style.display = "none";
	const login = document.getElementById("loginDisplayBlock");
    login.style.display = "block";
	} else {

		const login = document.getElementById("loginDisplayBlock");
    login.style.display = "none";
	const unLogin = document.getElementById("loginDisplayNone");
    unLogin.style.display = "block";
	}
});
  
</script>

