footer {
    .text-copyright {
        color: $white;
        margin-top: 3.75rem;
        font-size: .875rem;
    }
    .w-bp-icon {
        @include media-breakpoint-up(md) {
            width: 30%;
        }
        @include media-breakpoint-up(lg) {
            width: 20%;
        }
    }
}