.donate-banner {
	width: 100%;
	height: calc(100vh - 6.5rem);
	object-fit: cover;
	&-title {
		left: 0;
		top: 50%;
		color: $gray-000;
		transform: translate(15%, -150%);
		font-size: 2.25rem;
		font-weight: 700;
		@include media-breakpoint-up(md) {
			transform: translate(30%, -50%);
			font-size: 15rem;
			font-weight: 900;
		}
	}
}

.ms-100-220 {
	@include media-breakpoint-up(lg) {
		margin-left: 100px;
	}
	@include media-breakpoint-up(xl) {
		margin-left: 220px;
	}
}

.donate-plan {
	position: relative;
	overflow: hidden;

	&-title {
		display: flex;
		flex-direction: column;
		align-items: start;
		position: relative;
		z-index: 3;
		margin-bottom: 4rem;
		font-size: 1.875rem;
		@include media-breakpoint-up(lg) {
			flex-direction: row;
			justify-content: space-between;
			align-items: end;
			margin-bottom: 7.5rem;
		}
		@include media-breakpoint-up(xl) {
			font-size: 3rem;
		}
	}

	&-deco-line {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(-40%, -30%);
		@include media-breakpoint-up(sm) {
			transform: translate(-40%, -20%);
		}
		@include media-breakpoint-up(md) {
			transform: translate(-20%, 0%);
		}
		@include media-breakpoint-up(lg) {
			transform: translate(-10%, -30%);
		}
		@include media-breakpoint-up(xl) {
			transform: translate(0%, 0%);
		}
	}

	&-tab-btn {
		color: $gray-700;
		text-wrap: nowrap;
		font-size: 1rem;
		&:hover {
			background-color: $gray-600;
			color: $gray-000;
		}
		&.active {
			background-color: var(--bs-btn-active-color);
			color: $gray-000;
		}
	}

	&-img {
		width: 100%;
		height: 320px;
		@include media-breakpoint-up(md) {
			height: 450px;
		}
		@include media-breakpoint-up(lg) {
			height: 200px;
		}
		@include media-breakpoint-up(xl) {
			height: 250px;
		}
		@include media-breakpoint-up(xxl) {
			height: 320px;
		}
		object-fit: cover;
		border-top-left-radius: 3.125rem;
		border-top-right-radius: 0.625rem;
		border-bottom-left-radius: 0.625rem;
		border-bottom-right-radius: 3.125rem;
	}

	.modal {
		overflow: clip;
		--bs-modal-width: 90vw;
		height: 100vh;
		.modal-content {
			padding-right: 3rem;
			padding-left: 3rem;
			li > p {
				height: 3rem;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		.card:hover {
			border: 1px solid $primary-600;
			background-color: $primary-400;
		}

		&-header {
			padding-top: 1rem;
			padding-bottom: 1rem;
		}

		&-footer {
			padding-top: 1rem;
			padding-bottom: 1.5rem;
		}
	}

	.vector-position-right {
		position: absolute;
		right: 0;
		top: 0;
		&-transform-1 {
			transform: translate(70%, 20%);
			z-index: 2;
		}
		&-transform-2 {
			transform: translate(55%, 20%);
			z-index: 1;
		}
	}

	.vector-position-left {
		position: absolute;
		left: 0;
		top: 0;
		&-transform-3 {
			transform: translate(-80%, 65%);
			z-index: 2;
		}
		&-transform-4 {
			transform: translate(-70%, 65%);
			z-index: 1;
		}
	}
}

.border-gray-700 {
	border: 1px solid $gray-700;
}

.donate-explore {
	width: 100%;
	height: 60vh;
	object-fit: cover;
}

.donate-btn {
	color: $gray-000;
	padding: 0.5rem 1rem;
	font-weight: 400;
	font-size: 1rem;
	@include media-breakpoint-up(lg) {
		padding: 0.5rem 1rem;
		font-weight: 700;
		font-size: 1.5rem;
		transition: 0.3s;
		&:hover {
			transition: 0.3s;
			padding: 0.5rem 1.5rem;
		}
	}
}
