@charset "UTF-8";
@import "forms.scss";


/* _base 全站設定  
----------------------- */
*, *::before, *::after {
	box-sizing: border-box;
	outline:1px solid $secondary-500;
}
html, body {
	font-family: 'Lato', sans-serif;
}
body {
	font-size: 16px;
	line-height: 1.5;
}
//img { //img 有待確認 使用 max, width?
	//max-width: 100%; 
	//height: auto;
	// display: block;
//}
a {
	text-decoration: none;
	color: inherit;
}
dl, ol, ul {
	list-style-type: none;
	padding: 0 0;
	margin: 0 0;
}
h1, h2, h3 {
	font-weight: bolder;
}
h3 {
	font-size: 24px;
	margin-bottom: 4px;
}
.form-control{
	background: $gray-50;
}
.label-wrap {
	width: 100%;
	margin: 0 auto;
}
.label-contact-group {
	margin-bottom: 16px;
}
input[type="text"], textarea {
	width: 100%;
	border: $gray-400;
	background: $gray-50;
	margin-top: 4px;
	padding: map-get($spacers, 2) map-get($spacers, 2); 
}
::-webkit-input-placeholder {
	font-size: 16px;
	line-height: 24px;
}
::-moz-placeholder {
	font-size: 16px;
	line-height: 24px;
}
:-ms-input-placeholder {
	font-size: 16px;
	line-height: 24px;
}
::-ms-input-placeholder {
	font-size: 16px;
	line-height: 24px;
}
::placeholder, input[type="submit"], label {
	font-size: 16px;
	line-height: 24px;
}
label {
	input[type="checkbox"] {
		display: inline-block;
		cursor: pointer;
		margin-right: 4px;
	}
}
.submit {
	margin-top: 42px;
	text-align: center;
}
input[type="submit"] {
	cursor: pointer;
	background:  $gray-800;
	color: #fff;
	border-color: $gray-600;
}
input[type="submit"]:hover {
	background: $gray-100;
}



.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 240px;
	background: $gray-50;
	padding: 24px 24px 24px 16px;
	background-color: $gray-50;
	border-right: 1px solid $gray-200;
	.sub-item{
		padding: map-get($spacers, 3) map-get($spacers, 3); //12px 12px;
	}
	.p-sub-item{
		padding: map-get($spacers, 3) map-get($spacers, 13); //.75rem 4.25rem;;
	}
}

div {
	span {
		display: inline-block;
		padding: 0 4px;
		text-align: center;
		font-weight: 600;
		&.rIcon{
			color: $orange-500;
		}
	}
}

.main {
	margin-left: 240px;
	padding: 48px 24px 20px 24px;
	background-color: $gray-000;
	height: 100vh;
	@media screen and (max-width: 375px) {
		margin-left: 0px;
		padding-top: 104px;
	}
	button {
		border-width:1px;
		border-style: solid;
		font-size: 16px;
		padding: 8px 32px;
		font-weight: 500;
		border-radius: 5px;
		&:hover {
			background-color: transparent;
			border: 1px solid $gray-600;
			color: $gray-800;
		}
	}
	.btn{
		&-outline-dark{
			color: $gray-800;
			&:hover{
				background-color: $gray-800;
				color: $white;
			}
		}
	}
}

.content {
	width: 100%;
	margin: 0 auto;
	padding: 0 map-get($spacers, 17);
	@media screen and (max-width: 375px) {
		max-width: 352px;
		padding: map-get($spacers, 3) map-get($spacers, 3);
	}
}

.navBtn{
	display: none;
}
@media screen and (max-width: 375px) {
	.desktop{
		display: none;
	}
	.navBtn{
		display: block;
	}
}

// <!-- 手機版 --> 
// <!-- 方法二 -->
// .hamburgerBtn{
// 	position: absolute;
// 	z-index: -1;
// 	right: 0;
// 	@media screen and (max-width: 375px){
// 		position: absolute;
// 		z-index: 0;
// 	}
// }
// @media screen and (max-width: 375px) {
// 	.offcanvas{
// 		max-width:calc(100% - 240px); //80%;
// 	}
// }


// utilities
.display-block {
	display: block;
}
.display-in-block {
	display: inline-block;
}
.position-r {
	position: relative;
}
.font-align {
	text-align: center;
}
.font-align-left {
	text-align: left;
}
.font-align-right {
	text-align: right;
}

