<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
  </head>
  <body>
    <%- include('./layout/navbar'); -%> 
    <%- include('./layout/search-bar'); -%>
     <section class="container mt-17 mb-17">
      <div class="row gx-6 h-100 mb-6"> <!-- style="border: 1px solid red;" -->
        <!-- 左 -->
        <div class="col-lg-8 col-sm-12 focus-card">
          <div class="d-flex flex-column h-100">
          <div class="d-flex justify-content-between align-items-center rounded-top-4 border-custom py-4 px-6">
            <p class="mb-0">2024/8/15 - 2024/9/15</p>
            <div class="d-flex align-items-center">
              <span class="material-symbols-outlined fs-6 px-0">location_on</span>
              <p class="mb-0 nowrap">台北市</p>
            </div>
          </div>
          <!-- 圖＋文 -->
          <div class=" border border-primary-900 py-6 px-6 rounded-bottom-4 h-100">
            <div class="card mx-auto py-0 no-border">
              <img src="../assets/images/demo-origin-6.png" class="card-img-top rounded-4" alt="...">
              <div class="card-body pb-0">
                <div class="card-title">
                  <div class="d-flex align-items-center">
                    <h3 class="fw-700 title-font-size">光影交錯：攝影藝術展</h3>
                    <span class="material-symbols-outlined title-font-size">
                      bookmark_add
                    </span>
                  </div>
                </div>
                <div class="card-tag mb-4">
                  <span class="badge rounded-pill border border-gray-700 text-gray-700 fw-400 px-2 py-1">#攝影展</span>
                  <span class="badge rounded-pill border border-gray-700 text-gray-700 fw-400 px-2 py-1 ms-4">#光影藝術</span>
                </div>
                <div class="card-text d-none d-sm-block">
                  <p class="mb-4">
                    這場攝影展深入探索了光影的無限可能，展示了攝影師如何巧妙運用光線變化來塑造場景、情感與故事。從清晨的第一縷光芒，到黃昏時分的柔和色調，再到城市夜景中霓虹燈的閃爍，每一張照片都捕捉到了光與影交錯的瞬間之美。這些作品不僅展現了攝影師對光線的敏銳掌控，更凸顯了光影在情感表達中的重要作用，能夠在平凡的場景中創造出令人難以忘懷的氛圍。
                  </p>
                  <p>
                    透過這些影像，觀眾能夠體驗到光與影如何重新定義我們對周遭世界的感知，從而將看似日常的場景轉化為詩意的視覺體驗。每一張照片都仿佛是光影書寫的故事，讓人們在觀看的過程中沉浸其中，思考光影背後隱藏的細節與情感。展覽提供了一個全新視角，邀請觀眾放慢腳步，重新審視日常生活中的美好與神秘，在光影的舞動之間發現無限的創意與靈感。
                  </p>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
        <!-- 右 card-->
        <div class="col-lg-4 col-sm-12">
          <div class="row h-100" > 
            <!-- 右上 -->
            <div class="rightT mb-6 d-flex flex-column">
              <!-- style="border: 1px solid green" -->
              <div class="d-flex justify-content-between align-items-center rounded-top-4 border-custom py-4 px-6">
                <p class="mb-0">2024/8/15 - 2024/9/15</p>
                <div class="d-flex align-items-center">
                  <span class="material-symbols-outlined fs-6 px-0">location_on</span>
                  <p class="mb-0 nowrap">台北市</p>
                </div>    
              </div>
              <div class=" border border-primary-900 py-6 px-6 rounded-bottom-4 h-100">
                <div class="card mx-auto py-0 no-border">
                  <div class="img-240">
                     <img src="../assets/images/demo-origin-3.png" class="card-img-top rounded-4 w-100" alt="...">
                  </div>
                  <div class="card-body pb-0">
                    <div class="card-title">
                      <div class="d-flex align-items-center">
                        <h3 class="fw-700 title-font-size">現代設計的未來：數位藝術展</h3>
                        <span class="material-symbols-outlined title-font-size">
                          bookmark_add
                        </span>
                      </div>
                    </div>
                    <div class="card-tag">
                      <span class="badge rounded-pill border border-gray-700 text-gray-700 fw-400 px-2 py-1">#攝影展</span>
                      <span class="badge rounded-pill border border-gray-700 text-gray-700 fw-400 px-2 py-1 ms-4">#光影藝術</span>
                    </div>        
                  </div>
                </div>
              </div>
              
            </div>
            <!-- 右下 -->
            <!-- style="border: 1px solid rgb(12, 18, 199);" -->
            <div class="rightB d-flex flex-column">
              <div class="d-flex justify-content-between align-items-center rounded-top-4 border-custom py-4 px-6">
                <p class="mb-0">2024/8/15 - 2024/9/15</p>
                <div class="d-flex align-items-center">
                  <span class="material-symbols-outlined fs-6 px-0">location_on</span>
                  <p class="mb-0 nowrap">台北市</p>
                </div>
              </div>
              <div class="border border-primary-900 py-6 px-6 rounded-bottom-4 h-100">
                <div class="card mx-auto py-0 no-border">
                  <div class="img-240">
                   <img src="../assets/images/demo-origin-7.png" class="card-img-top rounded-4" alt="...">
                  </div>
                  <div class="card-body pb-0">
                    <div class="card-title">
                      <div class="d-flex align-items-center">
                        <h3 class="fw-700 title-font-size">光影交錯：攝影藝術展</h3>
                        <span class="material-symbols-outlined title-font-size">
                          bookmark_add
                        </span>
                      </div>
                    </div>
                    <div class="card-tag">
                      <span class="badge rounded-pill border border-gray-700 text-gray-700 fw-400 px-2 py-1">#攝影展</span>
                      <span class="badge rounded-pill border border-gray-700 text-gray-700 fw-400 px-2 py-1 ms-4">#光影藝術</span>
                    </div>
                  </div>
                </div>
              </div>
            
            </div>
          </div> 
        </div>
      </div>
      <!-- card -->
      <div class="row h-100">
        <div class="col-lg-4">
          <div class=" mb-6 d-flex flex-column">
            <div class="d-flex justify-content-between align-items-center rounded-top-4 border-custom py-4 px-6">
              <p class="mb-0">2024/8/15 - 2024/9/15</p>
              <div class="d-flex align-items-center">
                <span class="material-symbols-outlined fs-6 px-0">location_on</span>
                <p class="mb-0 nowrap">台北市</p>
              </div>
            </div>
            <div class=" border border-primary-900 py-6 px-6 rounded-bottom-4 h-100">
              <div class="card mx-auto py-0 no-border">
                <div class="img-240">
                  <img src="../assets/images/demo-origin-12.png" class="card-img-top rounded-4 w-100" alt="...">
                </div>
                <div class="card-body pb-0">
                  <div class="card-title">
                    <div class="d-flex align-items-center">
                      <h3 class="fw-700 title-font-size">記憶的印記</h3>
                      <span class="material-symbols-outlined title-font-size">
                        bookmark_add
                      </span>
                    </div>
                  </div>
                  <div class="card-tag">
                    <span class="badge rounded-pill border border-gray-700 text-gray-700 fw-400 px-2 py-1">#攝影展</span>
                    <span class="badge rounded-pill border border-gray-700 text-gray-700 fw-400 px-2 py-1 ms-4">#光影藝術</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class=" mb-6 d-flex flex-column">
            <div class="d-flex justify-content-between align-items-center rounded-top-4 border-custom py-4 px-6">
              <p class="mb-0">2024/8/15 - 2024/9/15</p>
              <div class="d-flex align-items-center">
                <span class="material-symbols-outlined fs-6 px-0">location_on</span>
                <p class="mb-0 nowrap">台北市</p>
              </div>
            </div>
            <div class=" border border-primary-900 py-6 px-6 rounded-bottom-4 h-100">
              <div class="card mx-auto py-0 no-border">
                <div class="img-240">
                  <img src="../assets/images/demo-origin-1.png" class="card-img-top rounded-4 w-100" alt="...">
                </div>
                <div class="card-body pb-0">
                  <div class="card-title">
                    <div class="d-flex align-items-center">
                      <h3 class="fw-700 title-font-size">聲音與視覺的對話</h3>
                      <span class="material-symbols-outlined title-font-size">
                        bookmark_add
                      </span>
                    </div>
                  </div>
                  <div class="card-tag">
                    <span class="badge rounded-pill border border-gray-700 text-gray-700 fw-400 px-2 py-1">#攝影展</span>
                    <span class="badge rounded-pill border border-gray-700 text-gray-700 fw-400 px-2 py-1 ms-4">#光影藝術</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class=" mb-6 d-flex flex-column">
            <div class="d-flex justify-content-between align-items-center rounded-top-4 border-custom py-4 px-6">
              <p class="mb-0">2024/8/15 - 2024/9/15</p>
              <div class="d-flex align-items-center">
                <span class="material-symbols-outlined fs-6 px-0">location_on</span>
                <p class="mb-0 nowrap">台北市</p>
              </div>
            </div>
            <div class=" border border-primary-900 py-6 px-6 rounded-bottom-4 h-100">
              <div class="card mx-auto py-0 no-border">
                <div class="img-240">
                  <img src="../assets/images/demo-origin-10.png" class="card-img-top rounded-4 w-100" alt="...">
                </div>
                <div class="card-body pb-0">
                  <div class="card-title">
                    <div class="d-flex align-items-center">
                      <h3 class="fw-700 title-font-size">藝術中的女性力量</h3>
                      <span class="material-symbols-outlined title-font-size">
                        bookmark_add
                      </span>
                    </div>
                  </div>
                  <div class="card-tag">
                    <span class="badge rounded-pill border border-gray-700 text-gray-700 fw-400 px-2 py-1">#攝影展</span>
                    <span class="badge rounded-pill border border-gray-700 text-gray-700 fw-400 px-2 py-1 ms-4">#光影藝術</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     </section>
     <!-- 分頁 -->
      <div class="container">
        <div class="d-flex justify-content-center mb-17">
        <nav aria-label="Page navigation example">
          <ul class="pagination d-flex justify-content-center ">
            <li class="page-item preBtn">
              <a class="page-link mobile-pre d-flex align-items-center" href="#" aria-label="Previous">
                <span class="material-symbols-outlined fs-12">
                  keyboard_arrow_left
                </span>
              </a>
            </li>
            <li class="page-item preBtn">
              <a class="page-link desktop-pre" href="#" aria-label="Previous">
                上一頁
              </a>
            </li>
            
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item active"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item nextBtn">
              <a class="page-link desktop-next" href="#" aria-label="Next">
                下一頁
              </a>
            </li>
            <li class="page-item nextBtn">
              <a class="page-link mobile-next d-flex align-items-center" href="#" aria-label="Next">
                <span class="material-symbols-outlined fs-12">keyboard_arrow_right</span>
              </a>
            </li>
          </ul>
        </nav>
        </div>
      </div>
    <%- include('./layout/footer'); -%>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
