.position-breakpoint {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10;
	@include media-breakpoint-up(md) {
		position: static;
		width: auto;
	}
}

.navbar-layout {
	.login-btn {
		&.show {
			background-color: $gray-700;
			.user-icon {
				color: $white;
			}
		}

		&:hover {
			background-color: $gray-700;
			color: $white;
		}
	}

	.px-26 {
		padding-left: 26px;
		padding-right: 26px;
	}

	.fade-motion {
		transition: opacity 0.2s linear;
	}

	.dropdown-menu {
		//BS 展開選單會自帶style：m-0，懶人法用!important去壓
		display: block;
		margin-top: 2.25rem !important;
		padding: 1.5rem 0;
		@include media-breakpoint-up(md) {
			margin: 0 !important;
			padding: 0.5rem 0;
		}
		--bs-dropdown-link-active-bg: none;
	}

	.p-item {
		padding: 1.25rem 3.25rem;
		@include media-breakpoint-up(md) {
			padding: 0.75rem 1.75rem;
		}
	}

	.p-sub-item {
		padding: 1.25rem 5.75rem;
		@include media-breakpoint-up(md) {
			padding: 0.75rem 4.25rem;
		}
	}

	.modal-dialog {
		margin: 0;
		max-width: 100vw;
		@include media-breakpoint-up(md) {
			margin: 0 auto;
			max-width: var(--bs-modal-width);
		}
	}
}

// modal遮罩
.modal-backdrop {
	display: none;
	@include media-breakpoint-up(md) {
		display: block;
	}
}
